@charset "UTF-8";
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBck {
  0% {
    opacity: 0;
    background-image: linear-gradient(to left bottom, transparent 100%);
  }
  50% {
    opacity: 1;
    background-image: linear-gradient(to left bottom, #fff 50%, transparent 100%);
  }
  100% {
    opacity: 1;
    background-image: linear-gradient(to left bottom, #fff 100%);
  }
}
/* 因为浏览器已经渐渐统一，所以对于简单的页面可以用通配符来进行总体样式清除 */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 字体大小不可以固定，会导致影响用户为浏览器设置的字体大小 */
html {
  /* 默认会将字体设为10px */
  font-size: 62.5%;
  /* 10 ÷ 16 × 100% = 62.5% */
}

/* 因为字体是继承的所以可以写在body里 */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /* 防止低版本子元素不同动画出现的抖动现象 */
  backface-visibility: hidden;
  /* 为类按钮设计margin */
  margin-bottom: 6rem;
}
.heading-primary--main {
  display: block;
  font-size: 6rem;
  letter-spacing: 3.5rem;
  font-weight: 400;
  animation-name: moveInLeft;
  animation-duration: 3s;
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  letter-spacing: 17.4px;
  font-weight: 700;
  animation-name: moveInRight;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  color: transparent;
  -webkit-background-clip: text;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}
.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.btn {
  /* 为类按钮添加动画 */
}
.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  /* 因为a元素是一个内联元素，给他padding不会导致他的行高适应，所有需要将他设置为行类块元素 */
  display: inline-block;
  /* 由此，因为a是文本，所以想要这个类按钮居中只需要将父盒子的文本属性居中即可 */
  border-radius: 10rem;
  transition: all 0.2s;
  /* 为伪元素设计标杆 */
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  /* 选择当btn被鼠标悬停时的伪元素 */
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active, .btn:focus {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}
.btn--green {
  background-color: #55c57a;
  color: #fff;
}
.btn--green::after {
  background-color: #55c57a;
}
.btn::after {
  content: " ";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  /* 此时的伪元素相当于btn的子元素，而我们想要其在btn的背后需要将他移出文档流 */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--animation {
  animation-name: moveInBottom;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 1s;
  /* 仅使用上述的属性时，会导致动画起止便显示在了页面上 */
  /* 使用该属性让动画未触发时保持第一帧的样子 */
  animation-fill-mode: backwards;
}

.btn-text {
  transition: all 0.2s;
}
.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
}
.btn-text:hover {
  transform: translateY(-3px);
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn-text:active {
  transform: translateY(-1px);
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
}
.card__side {
  height: 52rem;
  width: 100%;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  background-color: orangered;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  transform: rotateY(180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0deg);
}
.card__picture {
  background-size: cover;
  height: 23rem;
  color: #000;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card__picture--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("../img/nat-5.jpg");
}
.card__picture--2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url("../img/nat-6.jpg");
}
.card__picture--3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("../img/nat-7.jpg");
}
.card__heading {
  color: #fff;
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
}
.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}
.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url("../img/nat-6.jpg");
}
.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("../img/nat-7.jpg");
}
.card__details {
  padding: 3rem;
}
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #000;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card__price-box {
  text-align: center;
  margin-bottom: 8rem;
  color: #fff;
}
.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.card__price-value {
  font-size: 6rem;
  font-weight: 100;
}
.card__price-per {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-top: 50rem;
  text-align: center;
  display: block;
}

.composition {
  position: relative;
}
.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  transition: all 0.2s;
  z-index: 10;
  outline-offset: 2rem;
}
.composition__photo--p1 {
  left: 0;
  top: -2rem;
}
.composition__photo--p2 {
  right: 0;
  top: 2rem;
}
.composition__photo--p3 {
  left: 20%;
  top: 10rem;
}
.composition__photo:hover {
  outline: 1.5rem solid #55c57a;
  z-index: 20;
  transform: scale(1.05);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.feature-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
}
.feature-box:hover {
  transform: translateY(-2rem) scale(1.03);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  font-size: 1.6rem;
  transform: skewX(-12deg);
}
.story__shape {
  float: left;
  width: 15rem;
  height: 15rem;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem) skewX(12deg);
  position: relative;
}
.story__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.4);
  transition: all 0.5s ease-in-out;
}
.story__text {
  transform: skewX(12deg);
}
.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  font-size: 1.7rem;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  backface-visibility: hidden;
}
.story:hover .story__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.story:hover .story__img {
  transform: scale(1);
  filter: blur(3px) brightness(0.8);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.15;
}
.bg-video__content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__input {
  padding: 1.5rem 2rem;
  font-family: inherit;
  color: inherit;
  font-size: 1.5rem;
  border: none;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  display: block;
  width: 90%;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.15);
  border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form__input::-webkit-input-placeholder {
  color: #777;
}
.form__input:placeholder-shown + .form__label {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-4rem);
}
.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}
.form__radio-group {
  display: inline-block;
  width: 49%;
}
.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4rem;
}
.form__radio-input {
  display: none;
}
.form__radio-button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 5px solid #55c57a;
  display: inline-block;
  position: absolute;
  top: -0.4rem;
  left: 0;
}
.form__radio-button::after {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #55c57a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s;
}
.form__radio-input:checked + .form__radio-label .form__radio-button::after {
  opacity: 1;
}

/* 盒子的高度应该为视口的95  */
.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo {
  height: 3.5rem;
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
  text-align: center;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 6rem * 2) / 3);
}
.row .col-2-of-3 {
  width: calc((100% - 6rem * 2) / 3 * 2 + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 6rem * 3) / 4);
}
.row .col-2-of-4 {
  width: calc((100% - 6rem * 3) / 4 * 2 + 6rem);
}
.row .col-3-of-4 {
  width: calc((100% - 6rem * 3) / 4 * 3 + 6rem * 2);
}

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
}
.footer__logo-box {
  text-align: center;
  margin-bottom: 8rem;
}
.footer__logo {
  width: 15rem;
  height: auto;
}
.footer__navigation {
  display: inline-block;
  border-top: 1px solid #999;
  padding-top: 2rem;
  margin: 0 auto;
}
.footer__list {
  list-style: none;
  text-align: center;
  border: content-box;
}
.footer__item {
  display: inline-block;
}
.footer__item:not(:last-child) {
  margin-right: 1.5rem;
}
.footer__link {
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.footer__link:link, .footer__link:visited {
  color: #f7f7f7;
  text-decoration: none;
  text-transform: uppercase;
}
.footer__link:hover, .footer__link:active {
  color: #55c57a;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: translateY(-0.2rem);
}

.navigation__checkbox {
  display: none;
}
.navigation__button {
  width: 7rem;
  height: 7rem;
  background-color: rgba(255, 255, 255, 0.6);
  position: fixed;
  z-index: 200;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  border: 1px solid #7ed56f;
}
.navigation__background {
  width: 6rem;
  height: 6rem;
  position: fixed;
  z-index: 99;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  border-radius: 50%;
  transform: scale(80);
}
.navigation__nav {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
}
.navigation__list {
  list-style: none;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navigation__item {
  margin: 1rem;
}
.navigation__link:link, .navigation__link:visited {
  font-weight: 300;
  padding: 1rem 2rem;
  text-decoration: none;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  transition: all 0.3s;
  color: #fff;
  font-size: 2.5rem;
  letter-spacing: 1rem;
  min-width: 20rem;
  display: block;
}
.navigation__link:link span, .navigation__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
  letter-spacing: normal;
}
.navigation__link:hover, .navigation__link:active {
  color: #55c57a;
  background-position: 100% 0;
  transform: translateX(1rem);
}

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  margin-top: -10rem;
  transform: skewY(-7deg);
}
.section-features > * {
  transform: skewY(7deg);
}

.section-tours {
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;
  background-color: #f7f7f7;
}

.section-stories {
  position: relative;
  padding: 15rem 0;
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to bottom right, #7ed56f, #28b485);
}

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  height: 50rem;
  margin: auto;
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}
.book__form {
  width: 50%;
  padding: 6rem;
}

/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/*# sourceMappingURL=index.css.map */
