.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        /* 因为a元素是一个内联元素，给他padding不会导致他的行高适应，所有需要将他设置为行类块元素 */
        display: inline-block;
        /* 由此，因为a是文本，所以想要这个类按钮居中只需要将父盒子的文本属性居中即可 */

        border-radius: 10rem;
        transition: all .2s;
        /* 为伪元素设计标杆 */
        position: relative;
        font-size: $default-font-size;
        // 为button元素设计的样式
        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);

        /* 选择当btn被鼠标悬停时的伪元素 */
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }

    &--green {
        background-color: $color-primary;
        color: $color-white;

        &::after {
            background-color: $color-primary;
        }
    }

    &::after {
        content: ' ';
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        /* 此时的伪元素相当于btn的子元素，而我们想要其在btn的背后需要将他移出文档流 */
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        transition: all .4s;
    }
    
    /* 为类按钮添加动画 */
    &--animation {
        animation-name: moveInBottom;
        animation-duration: .5s;
        animation-timing-function: ease-out;
        animation-delay: 1s;
        /* 仅使用上述的属性时，会导致动画起止便显示在了页面上 */
        /* 使用该属性让动画未触发时保持第一帧的样子 */
        animation-fill-mode: backwards;
    }
}

.btn-text{
    transition: all .2s;
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
    }
    &:hover {
        transform: translateY(-3px);
        background-color: $color-primary;
        color: $color-white;
        box-shadow: .5rem .5rem 1rem rgba($color-black, .2);
    }
    &:active {
        transform: translateY(-1px);
        box-shadow: .2rem .2rem .5rem rgba($color-black, .2);
    }
}